#login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.login-select {
  border-radius: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-select .icon {
  color: white;
  border-radius: 5%;
  background-color: #1890ff;
  padding: 60px;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.login-select .icon:hover {
  cursor: pointer;
  background-color: #40a9ff;
}

.login-select .label {
  font-size: 25px;
  padding: 10%;
}

.login-box {
  width: 20vw;
  height: 50vh;
  text-align: center;
}

.login-box .icon {
  color: white;
  border-radius: 5%;
  background-color: #a9a9a9;
  padding: 5%;  
  margin-bottom: 20px;
}

.login-box #login-options {
  display: flex;
  flex-direction: column;
}

.login-box #login-options .login-span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-box .back {
  width: 15vw;
}

.login-page .title {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  color: #1890ff;
  font-size: 36px;
}
