.home {
  width: 100vw;
  margin: auto;
}

.home .browse-container {
  margin: 5vh 5vw;
}

.home .header {
  width: 100vw;
  background-color: #1890ff !important;
}

.home .top-bar {
  color: white;
  display: flex;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

.home .top-bar a {
  display: flex;
  align-items: center;
}

.home .header h1 {
  color: white;
  margin: 0 0 0 1.5vw;
}

.home .header #username {
  font-size: 20px;
  margin-left: auto;
  margin-right: 4%;
  display: flex;
  align-items: center;
}

/* ============================== CharityList ============================== */

.charity-list {
  margin: 36px 0;
}

.charity-list-scroll-container {
  display: flex;
  position: relative;
}

/* .charity-list-scroll-container::after {
  display: flex;
  content:"";
  height: 100%;
  width: 150px;
  right: 0;
  background: linear-gradient(to right, rgba(0,0,0,0), #fff);
  position: absolute;
} */

.charity-list-scroll {
  display: flex;
  /* align-items: center; */
  overflow-x: scroll;
  position: relative;
}

.charity-list-scroll::-webkit-scrollbar { 
  display: none;
}

.charity-list-scroll-left {
  background: linear-gradient(to left, rgba(0,0,0,0), #fff);
  height: 100%;
  width: 150px;
  position: absolute;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.charity-list-scroll-right {
  background: linear-gradient(to right, rgba(0,0,0,0), #fff);
  height: 100%;
  width: 150px;
  position: absolute;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.charity-list-scroll-left svg, .charity-list-scroll-right svg {
  margin: 0 16px;
  height: 30px;
  width: 30px;
}

/* ============================== Charity ============================== */

.charity-list .charity-card {
  width: 300px;
  /* height: 200px; */
  margin: 10px;
}

.charity-list .charity-card:hover {
  box-shadow: 1px 1px 8px grey;
  cursor: pointer;
}

/* .charity-list .charity-card .ant-card-cover {
  width: 100%;
  height: 100%;
} */

.charity-list .charity-card .ant-card-body {
  padding: 0;
}

.charity-modal .ant-modal-content {
  width: fit-content;
}

.charity-modal .ant-modal-body {
  display: flex;
  width: 650px;
}

.chart-container {
  height: 300px;
  width: 100%;
}

.recharts-sector:hover {
  opacity: 0.7;
}

.donate-input {
  display: flex;
  align-items: center;
  width: 50%;
}

.donate-input div {
  margin-right: 8px;
}